.custom-modal {
    border-radius: 1.8rem;
    padding: 1.5rem; 
    gap: 2rem;
    background: #FFF;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.10); 
    max-width: 17.9375rem;
  }
  .wrapper-modal {
    position: fixed;
    z-index: 55;
    top: 20%;
    left: 20%;
  }
  .transaction-modal {
    border-radius: 0.75rem;
    gap: 1rem;
    background: #FFF;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.10); 
  }
  .wrapper-transaction-modal {
    position: fixed;
    z-index: 55;
    width: 100%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    max-width: 53.375rem;
  }
  
  .btn-outline-primary {
      --bs-btn-active-color: #fff;
    --bs-btn-hover-color: #fff;
  }
  .btn-outline-primary{
    color: #008772;
    border-radius: 0.75rem;
  }
  
  @media (min-width: 768px) {
    .wrapper-modal {
      position: fixed;
      z-index: 55;
      top: 20%;
      left: 42.5%;
    }
  }